* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;   
}

#contact_client-section {
    background-color: white;
    display: flex;
    justify-content: center;
    gap:8%;
    margin-top: 3%;
    margin-bottom: 2%;
}

#contact_client-section h2 {
    text-transform: uppercase;
}
header{
    background-size: 100% 100%;
    background-image: url(./images/bgk-header.png);
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin: 0% 10% 0% 10% ;
}
.nav-left {
    margin-top: 2%;
    color: #25C1CE;
}
.nav-left img{
    vertical-align: middle;
    padding-right: 20px;
}
.nav-left span {
    font-size: 1.5rem;
}
.nav-right ol li{
    display: inline-block;
    padding-right: 15px;
    margin-top: 40px;
}
.nav-right li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 
.nav-right li a:hover {
    color: #25C1CE;
}
.hero-section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 15%;
    width: 50%;

}
.hero-section h1{
    font-size: 2rem;
} 
.heroUnderline {
    padding-bottom: 1.5%;
    color: #25C1CE;
}



/***************************
Eudes's sections start here
***************************/



.clientImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.clientHeading {
    grid-column: span 2;
}

.clientImages img{
    width: 240px;
    height: auto;
    padding-right: 50%;
    margin-bottom: 5%;
}


.clientForm input{
    width: 100%;
    padding: 2.5%;
    margin-top: 5%;
}

.submitButton {
    padding: 2% 8%;
    margin-top: 3%;
    margin-left: -0.5%;
    background-color: white;
    border: 2px solid rgb(22, 212, 212);
    color: rgb(22, 212, 212);
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bolder;
}

.submitButton:hover{
    background-color: rgb(22, 212, 212);
    border: 2px solid rgb(22, 212, 212);
    color: white;
}

textarea {
    margin-top: 5%;
    resize: none;
}

textarea::placeholder {
    padding-left: 3%;
    padding-top: 3%;
    font-size: 1rem;
}

.footerSections {
    background-image: url(images/bgk-footer.png);
    background-size: 100%;
    color: #fcfcfdc7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    line-height: 1.6;
    padding-top: 5%;
    padding-bottom: 3%;
}


.tajam {
    width: 20%;
}

.tajam h3 {
    color: #3d91ad;
    font-size: 1.5rem;
    padding-bottom: 5%;
}

.tajam img {
    vertical-align: middle;
    padding-right: 5%;
}

.address {
    width: 18%;
}

.mediaIcons {
    width: 18%;
    margin-right: 3%;
}

.address h4 {
    padding-bottom: 13%;
    text-transform: uppercase;
}

.address img {
    margin-right: 5%;
    vertical-align: middle;
}

.addressLinePosition {
    padding-left: 10%;
}

.mediaIcons h4 {
    padding-bottom: 13%;
    text-transform: uppercase;
}

.mediaIcons input {
    background: transparent;
    border: 1px solid #fcfcfdc7;
    padding: 4%;
    margin-bottom: 8%;
    color: white;
}

.mediaIcons ::placeholder {
    color:#fcfcfdc7;
}

.newsletterIcon {
    vertical-align: middle;
    background-color: #fcfcfdc7;
    opacity: 0.5;
    margin-left: 2.5%;
    margin-bottom: 0.8%;
    padding: 3% 5.5% 2% 5%;
}

.newsletterIcon:hover{
    background-color: white;
}

.icons img {
    width: 30px;
    height: 30px;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 2%;
    padding-bottom: 2%;
}

.copyright ul li {
    display: inline-block;
}

.copyright a {
    padding: 25px;
    color: #fcfcfdc7;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright a:hover {
    color: #3d91ad;
}

.copyrightCredit {
    margin-right: 8%;
}
/* General styling */

#expertise-section,
#team-section {
    line-height: 1.5;
}

h2, h4 {
    text-transform: uppercase;
}

p {
    opacity: 0.6;
}


.divider {
    margin-top: 0px;
    margin-bottom: 30px;
}



/* Expertise section */

.top-block,
.bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    margin: 30px
}

#expertise-section {
    background-color: white;
    color: #403f47;
    text-align: center;
    margin: 60px auto;
    max-width: 67%;
}



/* Team section */

#team-section {
    background-image: url(images/bgk-header.png);
    background-size: cover;
    width: 100%;
    color: ghostwhite;
    text-align: center;
    padding: 50px;
}

.team-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 67%;
    margin: 0 auto;
}

.team-container p {
    text-transform: uppercase;
    font-size: 0.9em;
}


.grid-card {
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 15px;
}

.grid-team {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 15px;
}

.grid-team h4,
.grid-team p {
    font-size: 0.8em;
    font-weight: 100;
}


.call_to-action  {
    margin-top: 30px;
}

button {
    margin: 30px;
    padding: 15px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #00d7c7;
    color: #00d7c7;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color:#00d7c7 ;
    color: white;
    /* transition: 1s color; */
    transition: 1s background-color;
}



/* Responsiveness */


@media screen and (max-width: 900px) {
    .team-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
    }
}


@media screen and (max-width: 700px) {
    .top-block,.bottom-block {
    display: block;
    }

    .team-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        width: 80%;
        margin: 0 auto;
    }

}


/*************************
Eudes's sections end here
*************************/



.first{
    padding-bottom: 8%;
    line-height: 1.5;
}
.button{
    border: 2px solid #25C1CE;
    border-radius: 5px;
    padding: 1.5%;
} 
.hero-section a{
    text-decoration: none;
    color: #25C1CE;
    font-weight: bold;
}
.hero-section a:hover{
    color: white;
    border-color: white;
    cursor: pointer;
}
.our_story-section {
    background-color: white;
    gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    display: flex;
    margin: auto;
    width: 60%;
    height: 50vh;
    line-height: 1.5;
}
.our_story-section a {
    text-decoration: none;
    color: #25C1CE;
    font-weight: bold;
}
.our_story-section a:hover {
    color: #37355F;
    border-color: #37355F;
    cursor: pointer;
}
.our_story-section h2{
    padding-bottom: 3%;
} 
.our_story-section p {
    padding-bottom: 5%;
}
#watch-section {
    color: white;
    background-image: url(./images/bgk-middle.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.video{
    padding-top: 3%; 
}
.video a {
    text-decoration: none;
    color: white;
}
.video a:hover {
    color: #25C1CE;
}