* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;   
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-size: 24px;
}

nav {
    color: red;
}

#hero-section {
    color: blue;
}

#our_story-section {
    color: green;
}

#watch-section {
    color: darkred;
}




/***************************
Eudes's sections start here
***************************/

/* Expertise section */

.divider {
    margin-top: 0px;
    margin-bottom: 50px;
}

.top-block,
.bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    margin: 30px
}

#expertise-section {
    background-color: white;
    color: #403f47;
    text-align: center;
    margin: 30px auto;
    width: 80%;
}

#expertise-section h2, h4 {
    text-transform: uppercase;
    font-size: 0.8;
}

/*.expertise-container*/ p {
    color: #5a5859b2;
    font-size: 0.9em;
}


@media screen and (max-width: 700px) {
    .top-block,.bottom-block {
    display: block;
    /* align-items: center;
    justify-content: space-around; */
}
}

/* Team section */

#team-section {
    background-image: url(images/bgk-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: ghostwhite;
    text-align: center;
    padding: 50px;
}

#team-section h2, h4 {
    text-transform: uppercase;
}

.team-container p {
    text-transform: uppercase;
    font-size: 0.9em;
}


/*************************
Eudes's sections end here
*************************/


#contact_client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
}

